@import './colors';

* {
  box-sizing: border-box
}

html,
body,
#app {
  height: 100%
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Tw Cen MT, Trebuchet MS, sans serif;
  background-color: $light-color;

  text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    -webkit-margin-after: 0px;
}