$dark-color: hsl(163, 100%, 30%);

html, body
  margin: 0px;
  padding: 0px;
  font-family: Tw Cen MT, Trebuchet MS, sans serif;
  background-color: hsl(163, 50%, 50%);

  text-align: center;


.map-canvas-searched
  height: 400px;

.map-canvas-intro
  height: 1000px;


.search-box-intro, .search-box-searched
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: $dark-color;

  padding: 1em;
  z-index: 100;


.search-box-searched
  width: 100%;

.search-box-intro
  $search-box-intro-width: 500px;
  top: 40%;

  @media screen and (min-device-width: 501px)  
    position: absolute;
    display: inline-block;
    width: $search-box-intro-width;
    margin-left: $search-box-intro-width * -0.5;

  @media screen and (max-device-width: 500px)
    width: 90%;
    position: relative;
    position: fixed;
    width: 90%;
    left: 5%;

.controls
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;

.controls:focus
  border-color: #4d90fe;


.section-title
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: .2em;
  background-color: $dark-color;
  color: black;
  font-weight: normal;

.main-content
  margin: -150px 10% 0px 10%;
  width: 80%;
  position: relative;
  text-align: left;

.research-suggestions
  text-align: center;

  .__react_component_tooltip
    max-width: 400px;
    text-align: left;

.research-suggestions, .trip-reports
  display: inline-block;
  margin-bottom: 50px;
  padding: 0px;
  width: 100%;
  background-color: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  h1
    margin-top: 0px;
    /*padding-top: .5em;*/

  a.site
    border-bottom: 1px solid #bbb;
    background-color: lightgrey;
    padding: .3em 1.5em;
    display: inline-block;
    text-decoration: none;
    width: 90%;
    margin-bottom: .5em;

  a.site:nth-child(even)
    background-color: #bbb;
  a.site:hover
    background-color: grey;
  a.site:active
    background-color: grey;
    border-bottom-color: lightgrey;

  ul
    list-style-type: none;

  .research-link-group
    /* background-color: hsla(113, 100%, 85%, 1); */
    float: left;
    height: 100%;
    width: 33.33%;

    h3
      text-align: center;
      margin: 1em;

    ul
      list-style-type: none;
      padding: 0px;

      li
        margin: 0px;
        padding: 0px;

  .trip-reports-info
    margin: 1em;
    display: block;

  .trip-report-result
    /* background-color: hsla(113, 100%, 90%, 1);*/
    padding: .5em;
    padding-left: 1em;
    width: 100%;

    .trip-report-date
      margin-right: 2em;

    .trip-report-site
      float: right;

  .trip-report-result:hover, .trip-report-result:nth-child(even):hover
      background-color: gray;

  .research-link-group:nth-child(even), .trip-report-result:nth-child(even)
    /* background-color: hsla(113, 100%, 78%, 1); */

  .trip-reports-loading-indicator
    width: 100%;
    text-align: center;

.trip-reports ul
  padding-left: 0px;

@media screen and (max-device-width: 500px)
  .research-suggestions .research-link-group
    width: 100%
