
html, body
  margin: 0px;
  padding: 0px;
  font-family: Tw Cen MT, Trebuchet MS, sans serif

#map-canvas
  height: 200px;

.controls
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);


#pac-input
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;


#pac-input:focus
  border-color: #4d90fe;


.pac-container
  font-family: Roboto;

.section-title
  width: 100%;
  text-align: center;
  background-color: hsla(113, 50%, 90%, 1);
  margin-bottom: 0;
  border-bottom: 4px solid grey;
  padding: .2em;

.research-suggestions
  text-align: center;

.research-suggestions, .trip-reports
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;

  h1
    margin-top: 0px;
    padding-top: .5em;

  a.site
    border-bottom: 1px solid #bbb;
    background-color: lightgrey;
    padding: .3em 1.5em;
    display: inline-block;
    text-decoration: none;
    width: 90%;
    margin-bottom: .5em;

  a.site:nth-child(even)
    background-color: #bbb;
  a.site:hover
    background-color: grey;
  a.site:active
    background-color: grey;
    border-bottom-color: lightgrey;

  ul
    list-style-type: none;

  .research-link-group
    background-color: hsla(113, 100%, 85%, 1);
    float: left;
    height: 100%;
    width: 33.33%;

    h3
      text-align: center;
      margin: 1em;

    ul
      list-style-type: none;
      padding: 0px;

      li
        margin: 0px;
        padding: 0px;

  .trip-report-result
    background-color: hsla(113, 100%, 90%, 1);
    padding: .5em;
    padding-left: 1em;
    width: 100%;

    .trip-report-date
      margin-right: 2em;

    .trip-report-site
      float: right;

  .trip-report-result:hover, .trip-report-result:nth-child(even):hover
      background-color: gray;

  .research-link-group:nth-child(even), .trip-report-result:nth-child(even)
    background-color: hsla(113, 100%, 78%, 1);

  .trip-reports-loading-indicator
    width: 100%;
    text-align: center;

.trip-reports ul
  padding-left: 0px;