.tripReportsInfo {
margin: 1em;
display: block;
}

.tripReportResult {
/* background-color: hsla(113, 100%, 90%, 1);*/
padding: .5em;
padding-left: 1em;
width: 100%;

.tripReportDate {
  margin-right: 2em;
}

.tripReportSite {
  float: right;
}
}

.tripReportResult:hover,
.tripReportResult:nth-child(even):hover {
  background-color: gray;
}

.tripReportsLoadingIndicator {
width: 100%;
text-align: center;
}
