.day {
    display: inline-block;
    width: 90px;
}

.days {
    margin: 0 0 0 90px;
}

.place {
    display: inline-block;
    width: 90px;
    line-height: 90px;
    vertical-align: top;
}

.row {
    flex-basis: 100% !important;
    flex-grow: 1;
}
