.span {
    display: inline-block;
    padding: 0px 4px;
}

.weatherIcon{
  height: 90px;
}

%data {
  width: 90px;
  height: 24px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
}

.windspeed {
  @extend %data;
    background-color: rgba(255, 255, 255, 0.3);
}

.precip {
  @extend %data;
  overflow: scroll;
}